########################
# Unity project
########################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Asset store tools
Assets/AssetStoreTools*

# Unity packages
*.unitypackage

########################
# IDE / Editor
########################

# Visual Studio / VSCode / Rider / etc
.vs/
.vscode/
.idea/

# VS / MSBuild user files
*.csproj
*.sln
*.user
*.userprefs
*.suo
*.pidb
*.opendb

########################
# Python / virtual envs
########################

# Common venv names
venv/
venv_*/
.venv/
.env/

# Python cache
__pycache__/
*.pyc

########################
# OS cruft
########################

.DS_Store
Thumbs.db


run_logs/
results/
Assets/ML-Agents/Timers/
